:root {
  --primaryColor: rgba(17, 24, 39, 1);
  --secondaryColor: #917FB3;
  --thirdColor: rgba(167, 139, 250, 1);
  --underLine : #D05270;
  --gray: #B6B6B6;
  --white: #FFFFFF;
  --smokeWhite: #E3E6E6;
  --upperFooter: #393939;
  --footer: #161616;
}


* {
  margin: 0;
  padding: 0;
  color: var(--white);
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
}

.logo-img {
  transform: scale(4);
}

.nav {
  width: 33%;
}

.icon-heart {
  margin-right: 8px;
}
.icon-profile-male {
  margin-right: 8px;
}

.card-discount {
  color: rgba(255, 73, 73, 0.755) !important;
}

.text-lined {
  text-decoration: line-through !important;
  color: red !important;
}

.icon-basket {
  margin-right: 8px;
}

.nav-input {
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
  border: var(--secondaryColor) 2px solid;
  color: #393939;
  padding: 2px;
  font-size: larger;
}

.nav-logo-text {
  margin-left: 2rem;
  color: var(--white);
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-mid {
  display: flex;
  justify-content: center;
}

.nav-mid-item {
  display: flex;
  align-items: center;
}

.nav-mid-item>span {
  padding-left: 2rem;
}

.nav-belt {
  background-color: var(--primaryColor);
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: orange 2px solid;
}

.nav-tools {
  display: flex;
  justify-content: space-between;
}

.nav-tool {
  padding: 1rem;
  border-radius: 5px;
}

.nav-tool:hover {
  border: white 1px solid;
}

.cat-belt {
  background-color: var(--underLine);
  justify-content: space-between;
  padding: 0.5rem;
  display: flex;
  border-bottom: var(--thirdColor) 1px solid;
}

.cat-links {
  display: flex;
  justify-content: space-between;
}

.cat-left {
  width: 77%;
}

.cat-link:hover {
  border-radius: 0.25rem;
  border: white 1px solid;
  padding: 0.2rem;
}

.nav-link span:hover {
  color: aqua;
}

.sale-section-container {
  background-color: var(--yellow);
  height: 70vh;
  margin-bottom: 3rem;
}


/* SLIDER */
.slider-container {
  padding: 1rem;
  height: 100px;
}

.slider-container img {
  height: 100%;
  width: 100%;
  border: rgb(131, 8, 127) 3px groove;
  border-radius: 50%;
}

.slider-slide {
  display: flex;
  align-items: center;
  flex-direction: column;
}


/* SALE SECTİON */

.sale-section-container {
  padding: 5px;

  display: flex;
  justify-content: space-around;
}

.sale-col {
  margin-top: 5rem;
  background-color: var(--smokeWhite);
  width: 20%;
}

.sale-col p {
  margin-top: 3rem;
  margin-left: 3rem;
  font-size: larger;
  color: #161616;
}

/* KATEGORİ */

.text-black {
  color: var(--footer);
}

.category-container {
  background-color: var(--white);
  margin: 0 3rem;
  border: #03484D 2px solid;
  border-radius: 5px;
  margin-top: 2rem;
}

.category-title {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

/* Kategori Üürnleri */
.product-slide-cart-container {
  margin: 0.5rem;
  border: var(--gray) 2px solid;
  border-radius: 10px;
}

.product-slide-image-container {
  height: 200px;

}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
}

.card-img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.old-price {
  color: orange;
  text-decoration: line-through;
}

.after-discount {
  color: green;
  font-weight: 600;
}

.button-add-to-cart {
  padding: 0.3rem;
  background-color: var(--thirdColor);
  border-radius: 3px;
}


/* PRODUCT DETAILS */

.product-details-container {
  margin: 3rem;
  border: var(--upperFooter) 2px solid;
  border-radius: 5px;
  height: 600px;
  display: flex;
}

.product-details-left {
  width: 50%;
  padding: 2rem;
}

.favorite-div {
  margin: 1rem 0rem;
}

.product-favorite-button {
  font-size: xx-large;
  color: rgb(245, 92, 92);
}

.product-details-right {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-details-right h3 {
  color: var(--thirdColor);
}

.details-img {
  height: 100%;

}

.product-details-pricing {
  margin: 3rem 0;
}

.price-text {
  color: orange;
  font-size: xx-large;
  text-decoration: line-through;
}

.pricing-text {
  display: flex;
  align-items: center;
}

.pricing-after-discount {
  color: green;
  font-weight: 600;
  font-size: xx-large;
}

.btn-xl {
  padding: 1rem 3rem;
}

.badge {
  margin-left: 2rem;
  width: 15%;
  background-color: red;
  padding: 0.5rem;
  display: flex;
  border-radius: 20px;
  justify-content: center;
}

/* AUTHENTICATION */

.auth-parent {
  display: flex;
  justify-content: center;

}

.auth-container {
  padding: 3rem;
  background-color: var(--thirdColor);
  border-radius: 20px;
  border: var(--thirdColor) 5px solid;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  align-items: center;
}

.auth-logo {
  width: 40%;
}

.buton-auth {
  margin-top: 2rem;
  width: 100%;
  height: 50px;
  margin-bottom: 2rem;
  background-color: rgb(253, 136, 2);
  border-color: white;
  color: white;
  border-radius: 20px;
}

.auth-container form input {
  margin-top: 2rem;
  width: 100%;
  height: 32px;
  border-radius: 5px;
  border-color: orange;
  font-size: larger;
}

/* CART */

.cart-items-container {
  width: 100%;
}

.cart-item {
  border: #161616 2px solid;
  margin: 2rem;
  padding: 2rem;
  display: flex;
}

.cart-item-left {
  width: 20%;
}

.cart-item-mid {
  width: 60%;
}

.cart-item-right {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.cart-item-mid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.remove-from-cart {
  background-color: red;
  padding: 1rem;
}

.text-quantity {
  color: #161616;
  font-size: xx-large;
  font-weight: 600;
}




.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0rem;
}

.form-container {
  width: 320px;
  border-radius: 0.75rem;
  background-color: rgba(17, 24, 39, 1);
  align-items: center;
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.form {
  margin-top: 1.5rem;
}

.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: block;
  color: rgba(156, 163, 175, 1);
  margin-bottom: 4px;
}

.input-group input {
  width: 90%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgba(17, 24, 39, 1);
  padding: 0.75rem 1rem;
  color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
  border-color: rgba(167, 139, 250);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
  margin: 8px 0 14px 0;
}

.forgot a,
.signup a {
  color: rgba(243, 244, 246, 1);
  text-decoration: none;
  font-size: 14px;
}

.forgot a:hover,
.signup a:hover {
  text-decoration: underline rgba(167, 139, 250, 1);
}

.sign {
  display: block;
  width: 100%;
  background-color: rgba(167, 139, 250, 1);
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
}

.social-message {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}

.line {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(156, 163, 175, 1);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons .icon {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: transparent;
  margin-left: 8px;
}

.social-icons .icon svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}

.signup {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(156, 163, 175, 1);
}




/* before adding the img to the div with the 
"card-img" class, remove css styles 
.card-img .img::before and .card-img .img::after,
then set the desired styles for .card-img. */
.card {
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  --main-focus: #2d8cf0;
  width: 230px;
  height: 300px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card:last-child {
  justify-content: flex-end;
}

.card-img {
  /* clear and add new css */
  transition: all 0.5s;
  display: flex;
  justify-content: center;
}

.card-img .img {
  /* delete */
  transform: scale(1);
  position: relative;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border-top-left-radius: 80px 50px;
  border-top-right-radius: 80px 50px;
  border: 2px solid black;
  background-color: #228b22;
  background-image: linear-gradient(to top, transparent 10px, rgba(0, 0, 0, 0.3) 10px, rgba(0, 0, 0, 0.3) 13px, transparent 13px);
}

.card-img .img::before {
  /* delete */
  content: '';
  position: absolute;
  width: 65px;
  height: 110px;
  margin-left: -32.5px;
  left: 50%;
  bottom: -4px;
  background-repeat: no-repeat;
  background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.7) 30%, transparent 30%), linear-gradient(to top, transparent 17px, rgba(0, 0, 0, 0.3) 17px, rgba(0, 0, 0, 0.3) 20px, transparent 20px), linear-gradient(to right, black 2px, transparent 2px), linear-gradient(to left, black 2px, transparent 2px), linear-gradient(to top, black 2px, #228b22 2px);
  background-size: 60% 10%, 100% 100%, 100% 65%, 100% 65%, 100% 50%;
  background-position: center 3px, center bottom, center bottom, center bottom, center bottom;
  border-radius: 0 0 4px 4px;
  z-index: 2;
}

.card-img .img::after {
  /* delete */
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  margin-left: -14px;
  left: 50%;
  top: -13px;
  background-repeat: no-repeat;
  background-image: linear-gradient(80deg, #ffc0cb 45%, transparent 45%), linear-gradient(-175deg, #ffc0cb 45%, transparent 45%), linear-gradient(80deg, rgba(0, 0, 0, 0.2) 51%, rgba(0, 0, 0, 0) 51%), linear-gradient(-175deg, rgba(0, 0, 0, 0.2) 51%, rgba(0, 0, 0, 0) 51%), radial-gradient(circle at center, #ffa6b6 45%, rgba(0, 0, 0, 0.2) 45%, rgba(0, 0, 0, 0.2) 52%, rgba(0, 0, 0, 0) 52%), linear-gradient(45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.2) 48%, rgba(0, 0, 0, 0.2) 52%, rgba(0, 0, 0, 0) 52%), linear-gradient(65deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.2) 48%, rgba(0, 0, 0, 0.2) 52%, rgba(0, 0, 0, 0) 52%), linear-gradient(22deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.2) 48%, rgba(0, 0, 0, 0.2) 54%, rgba(0, 0, 0, 0) 54%);
  background-size: 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 75%, 100% 95%, 100% 60%;
  background-position: center center;
  border-top-left-radius: 120px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 70px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  transform: rotate(45deg);
  z-index: 1;
}

.card-title {
  font-size: 16px;
  height: 30px;
  font-weight: 500;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  color: var(--font-color);
}

.card-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-sub);
}

.card-divider {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 50px;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-price {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color);
}

.card-price span {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color-sub);
}

.card-btn {
  height: 35px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 0 15px;
  transition: all 0.3s;
}

.card-btn svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
  transition: all 0.3s;
}

.card-img:hover {
  transform: translateY(-3px);
}

.card-btn:hover {
  border: 2px solid var(--thirdColor);
}

.card-btn:hover svg {
  fill: var(--thirdColor);
}

.card-btn:active {
  transform: translateY(3px);
}

.card-container {
  padding: 1rem;
}

/* Footer */

.footer-container {
  background-color: var(--footer);
  width: 100%;
  height: 5vh;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-top: var(--underLine) 5px solid;
}
.name-section {
  display: flex;
}

.footer-text:hover {
  color: var(--underLine);
}

/* CATEGORY */

.category-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-slider-container {
  margin: 2rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.flex img {
  border-radius: 8px;
}

.categories-h3 {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 3rem;
  padding: 2rem;
}

.categories-h3 h3 {
  color: #161616;
  text-decoration: underline;
  font-size: xx-large;
  text-underline-offset: 5px;
  text-decoration-color: #D05270;
}